name: Docker Image CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:

  build:

    runs-on: self-hosted
    steps:
    - uses: actions/checkout@v3
    - name: create env file
      run: |
        touch .env
        echo PUBLIC_KEY=${{ secrets.PUBLIC_KEY }} > .env
        echo SECRET_KEY=${{ secrets.SECRET_KEY }} >> .env
        echo BLE_MAC=${{ secrets.BLE_MAC }} >> .env
        echo BLE_UUID=${{ secrets.BLE_UUID }} >> .env
        echo DISCORD_CHANNEL=${{ secrets.DISCORD_CHANNEL }} >> .env
        echo DISCORD_GUILD=${{ secrets.DISCORD_GUILD }} >> .env
        echo DISCORD_TOKEN=${{ secrets.DISCORD_TOKEN }} >> .env
    - name: docker compose down
      run: docker compose down 
      continue-on-error: true
    - name: Remove the Docker image
      run: docker image rm discordsesamebot-app:latest
      continue-on-error: true
    - name: Build the Docker image
      run: docker compose build --no-cache
    - name: Run the Docker image
      run: docker compose run
    
